<div class="product_thumb">
<% @non_zero_inv.each do |product| %>

    <%= image_tag "products/#{product.img_file}.jpg" %>
    <p><%= product.item %></p>
    <p><%= product.discount_price %></p>
    <%= link_to "More info", "/product/#{product.pid}", class:"btn btn-secondary-outline" %>
<% end %>
</div>
